body {
    /* padding-top: 70px; */
    padding-bottom: 30px;
}
.theme-dropdown .dropdown-menu {
    position: static;
    display: block;
    margin-bottom: 20px;
}
.theme-showcase > p > .btn {
    margin: 5px 0;
}
.theme-showcase .navbar .container {
    width: auto;
} 

.HeadImg {
    position: fixed;
    color:red;
    width:100%;
    height:100px;
    background-image: url(/static/img/string.jpg);
}

.title {
    margin-top: 100px;
}

.footer {
    position: fixed;
    bottom: 0;
    width:100%;
    height:50px;
    background-image: url(/static/img/string.jpg);
}

.center-content {
    margin: 0 auto;
    /* max-width: 800px; */
    max-width: 100%;
    padding: 20px; 
    z-index: 200;
}

.login-input {
    width: 100px;
}

.login-btn {
    width: 70px;
}
.middle-list {
    margin-top: 0px;
}
.side-list {
    margin-top: 0px;
}

.checker {
    width: 50px;
    z-index: 300;
    position: relative;
    top: 0px;
    left: 0px;
}

.board {
    position: relative;
    top: 0px;
    width: 416px;
    height: 416px;
}

/*cia gyves pati geriausi raudonas langelis*/
.square_red {
    width: 52px;
    height: 52px;
    position: absolute;
    background-color: red;
}

.square_white {
    width: 52px;
    height: 52px;
    position: absolute;
    /*background-color: white;*/
}

.square_black{
   width: 52px;
   height: 52px;
   position: absolute;
   background-color: brown; 
}  
/*
 
 .A {
     color: green;
     padding: 20px;
 }
 
 p.A {
     background-color: black;
 }
 
 a img#invisible-cat {
     width:200px;
     border:3px solid #021a40;
     padding:3px;
     margin: 3px;
 }
*/
